* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./img/3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}


.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}


@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }


h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}
}
#agent-results-container {
    background-color: white; /* Set background color to white */
    margin: 0 auto;  /* Center the box horizontally */
    width: 60%;  /* Adjust width as needed */
    padding: 20px; /* Add padding for content */
    border: 1px solid #ddd; /* Add a thin border */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: transform 0.2s ease-in-out; /* Set up transition for hover effect */
  }
  
  #agent-results-container:hover {
    transform: translateY(-5px); /* Move the box up slightly on hover */
  }